In [22]:
# Dependencies
import pandas as pd

# Load csv files
m_file = 'Resource/hawaii_measurements.csv'
s_file = 'Resource/hawaii_stations.csv'

In [23]:
# Read m file with pandas
m_df = pd.read_csv(m_file)
m_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [24]:
# look for missing data
m_df.count()

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [25]:
# Read s file with pandas
s_df = pd.read_csv(s_file)
s_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [26]:
# look for missing data
s_df.count()

station      9
name         9
latitude     9
longitude    9
elevation    9
dtype: int64

In [27]:
# Fill missing value with 0
m_df.fillna(value =0, inplace = True)

In [28]:
# Verify m_df
m_df.count()

station    19550
date       19550
prcp       19550
tobs       19550
dtype: int64

In [29]:
m_df["id"] = m_df.index + 1
clean_m_df = m_df[['id','station','date','prcp','tobs']]
clean_m_df.head()

   id      station        date  prcp  tobs
0   1  USC00519397  2010-01-01  0.08    65
1   2  USC00519397  2010-01-02  0.00    63
2   3  USC00519397  2010-01-03  0.00    74
3   4  USC00519397  2010-01-04  0.00    76
4   5  USC00519397  2010-01-06  0.00    73

In [30]:
s_df["id"] = s_df.index + 1
clean_s_df = s_df[['id','station','name','latitude','longitude','elevation']]
clean_s_df.head()

,id,station,name,latitude,longitude,elevation
0,1,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,2,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,3,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,4,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,5,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [31]:
# Save cleaned CSV files with the prefix clean_.
clean_m_df.to_csv('Resource/clean_hawaii_measurements.csv', index=False, header=True)
clean_s_df.to_csv('Resource/clean_hawaii_stations.csv', index=False, header=True)