In [1]:
# add dependencies
import pandas as pd
from datetime import date

from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String, Float, Date

In [2]:
# create the measurement class
class Measurement(Base):
    __tablename__ = 'Measurements'
    m_id = Column(Integer, primary_key = True)
    station = Column(String(255))
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Integer)
    
# create the station class
class Station(Base):
    __tablename__ = 'Stations'
    s_id = Column(Integer, primary_key = True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [3]:
# create the datbase and add the classes
engine = create_engine("sqlite:///hawaii.sqlite", echo = False)
conn = engine.connect()
session = Session(engine)

Base.metadata.create_all(conn)

In [4]:
# Load csv files
m_file = 'Resource/clean_hawaii_measurements.csv'
s_file = 'Resource/clean_hawaii_stations.csv'

In [5]:
# Read m file with pandas
m_df = pd.read_csv(m_file)
m_df.head()

   id      station        date  prcp  tobs
0   1  USC00519397  2010-01-01  0.08    65
1   2  USC00519397  2010-01-02  0.00    63
2   3  USC00519397  2010-01-03  0.00    74
3   4  USC00519397  2010-01-04  0.00    76
4   5  USC00519397  2010-01-06  0.00    73

In [6]:
# Read s file with pandas
s_df = pd.read_csv(s_file)
s_df.head()

,id,station,name,latitude,longitude,elevation
0,1,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,2,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,3,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,4,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,5,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [7]:
# send the station dataframe to the sqlite database
m_df.drop("id", axis=1).to_sql('Measurements', engine, index_label="m_id", if_exists='append')

In [10]:
# send the station dataframe to the sqlite database
s_df.drop("id", axis=1).to_sql('Stations', engine, index_label="s_id", if_exists='append')